<div class="content" role="main">
  <div class="head">
    <mat-form-field class="example-form-field">
      <mat-label>Search...</mat-label>
      <input matInput aria-describedby="search-text" 
      [(ngModel)]="searchText" id="search-text">
      <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button (click)="openAddGameDialog()">Add Game</button>
  </div>
  <div class="card-container">
    <ng-container *ngFor="let game of games">
      <app-game-container class="card" 
        *ngIf="game.name.toLocaleLowerCase().includes(searchText.toLocaleLowerCase())"
        [name]="game.name"
        [version]="game.version"
        [imgSrc]="game.img"
        [link]="game.link"
        [searchText]="searchText"
        ></app-game-container>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>

